* {
  box-sizing: border-box;
}

.home-bg {
  min-height: 100vh;
  width: 100vw;
  background-color: #161625;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.states_container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1e1e30;
  background-size: cover;
  border-radius: 8px;
  border: 1px solid #475569;

  align-self: center;
}

@media (max-width: 576px) {
  .states_container {
    width: 200vw;
    margin-left: 10px;
    align-self: flex-start;
  }
}
.states_headings {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.state_name {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.heading {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.icons {
  color: white;
  height: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.headings_container {
  text-align: center;
  width: 100px;
}

.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #f8fafc;
}

.ordering_button {
  background-color: transparent;
  border: 0px;
}

.loader {
  height: 50vh;
  width: 50vw;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total_container {
  align-self: center;
}

.horizantal-line {
  width: 85vw;
  border: 1px solid #475569;
}

@media (max-width: 576px) {
  .horizantal-line {
    width: 100%;
  }
}

.search-container {
  margin-top: 20px;
  align-self: center;
  width: 65vw;
}

.search-bar-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  background-color: #2f2f43;
  border-radius: 8px;
}

.icon {
  height: 20px;
  width: 20px;
}

.search-bar {
  background-color: transparent;
  width: 100%;
  border: 0px;
}

.search-result-container {
  list-style-type: none;
}

.statewisecovid-19-data {
  padding: 0px;
  margin: 0px;
}
